html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 20px !important;
  background-color: rgb(207, 219, 213);
  overflow-y: scroll;
}

.iframe_container_div {
  width: calc(50% - 5px);
  height: 50vh;
  margin-right: 5px;
  background-color: rgb(191, 210, 223);
  padding: 0 !important;
  margin-bottom: 5px;
  position: relative;
  float: left;
}

#modal3 {
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  width: 99%;
  height: 99%;
  right: 0 ;
  margin: 5px ;
  position: absolute;
}

#modal3 .modal-content {
  width: 99%;
  height: 99%;
  padding: 0;
  z-index: 0;
  /* position: relative; */
}

#modal3 iframe {
  z-index: 0;
  width: 1000px;
  height: 750px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  width: 99%;
  height: 99%;
  right: 0 ;
  margin: 5px ;
  position: absolute;
  padding: 0;
  overflow: hidden;
}

.iframe_container_div iframe {
  width: 99%;
  height: 99%;
  z-index: 0;
  width: 1000px;
  height: 750px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  position: relative;
  -webkit-transform: scale(0.6125, 0.5);
  overflow: hidden;
}

.btn_container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin-left: -10px;
  margin-right: 4px;
  margin-bottom: 4px;
  z-index: 2;
}